/* .vitepress/theme/custom.css */
/* :root {
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #747bff;
  } */
.VPDoc .container {
  margin: 0;
}

:root {
  /* 间距 */
  /* --vp-layout-max-width: 1920px */
}
/* 左边栏 */
/* .VPSidebar {
  padding-left: 32px !important;
  width: auto !important;
} */